# Editor/IDE
.idea
.vscode
.DS_Store

.cursor
openspec

# env file
.iflow
.pids
.env
*.bak
*.tgz
.sisyphus
**/dist/
**/node_modules/
web/
packages/server/package-lock.json
scripts/surge/package-lock.json
packages/server/html/**